body{

	border-style: dotted;
	text-align: center;
	font-family: courier;
	border: 25px dotted navy;
	padding: 25px;
	margin: 25px;
}


p1 {
color:  000066;
font-size: 500%;
padding: 50px;

}

p2 {
	color: 000066;
	font-size: large;
	padding: 50px;
	
}
 #photo {
 	
 }