body{
	
	background-color: #e5ffff;
	border-style: dotted;
	text-align: center;
	font-family: courier;
	border: 25px dotted navy;
	padding: 25px;
	margin: 25px;
}


h1 {
color:  #000066;
font-size: 500%;
padding: 50px;

}

h2 {
	color: #000066;
font-size: x-large;
padding: 25px;;
}

p{
	color: #000066;
	font-size: large;
	padding: 50px;	
 }

 
 IMG.photo {
 	 height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
 }